body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.active-nav-link {
  text-decoration: none;
  color: #35a660;
}

.active-nav-link svg {
  color: #35a660;
}

.inactive-nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

@font-face {
  font-family: "LilyScriptOne";
  src: local("LilyScriptOne"), url(./fonts/LilyScriptOne-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.redFont {
  color: red;
}

.bold {
  font-weight: bold;
}
